<div class="modal-backdrop" [ngClass]="{'show': openModal, 'hidden': !openModal }">
    <div class="modal" [ngClass]="{'show': openModal, 'hidden': !openModal }">
        <div class="title-payment">
        Pagamento para <span class="payment-user-name">{{user?.name}}</span>
        </div>

        <div class="container-image">
            <img src="{{user?.img}}" class="img-payment">
        </div>

        <form [formGroup]="cardForm" (ngSubmit)="submitValues()" >
            <div class="form-group">
                <div class="content">
                <input type="text" placeholder="R$ 0,00" formControlName="value" class="input-value"
                currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'center' }"/>
                </div>
            </div>

            <div class="form-group">
                <div class="container-cards">
                    <div class="cards">
                        <select class="select-cards" (change)="cardSelected($event)">
                        <option *ngFor="let card of cards; let i = index" [value]="card.card_number">Cartão com final {{card.card_number | slice:-4}}</option>
                        </select>
                    </div>
                    <div class="cards-flags">
                        <img src="../../../assets/mastercard-logo.png" class="flag master" *ngIf="cardSelectedObj.flag === 'master' ">
                        <img src="../../../assets/visa-logo.png" class="flag visa" *ngIf="cardSelectedObj.flag === 'visa'">
                    </div>
                </div>
            </div>
        </form>

        <div class="button-container">
            <button type="button" class="pay-button">
                Pagar
            </button>
        </div>

        
    </div>
</div>