/* List of Users */
$colorWhite: rgb(255, 255, 255);
$colorBlack: rgb(0, 0, 0);
$colorBlackOpacity: rgba(0, 0, 0, 0.5);
$primaryColor: #21c25e;
$secondaryColor: rgb(33, 51, 36);
$greenGradient: linear-gradient(186.5deg, $secondaryColor 0.83%, $primaryColor 100%);


.user {
  background: $greenGradient;
  box-shadow: 0 1px 0 $colorWhite, 0px -1px 0px $colorWhite;
  color: $colorWhite;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  font-weight: bold;  

  .user-id-username{
    color: $colorWhite;  

    span {
      color: $secondaryColor;
    }
  }

  .user-img {
    border-radius: 50%;
    box-shadow: 3px 3px 3px 1px $colorBlackOpacity;
    height: 80px;
    width: 80px;
  }

  .info-wrapper {
    margin-left: 16px;
  }

  .button {
    margin-left: auto;
    text-align: center; 
    
    .pay-button {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: $primaryColor;
      border: 0px solid $colorBlack;
      box-shadow: 2px 2px 2px 1px $colorBlackOpacity;
      margin-left: auto;
      padding: 8px;
      font-size: 1.5em;
      font-weight: bold;
      text-align: center;
      color: $colorWhite;  
    }

    p {
      color: $colorWhite;
      font-weight: bold;
      padding-top: 2px;  
      font-size: 0.6em;
    }
  }
}

/* Payment Modal */
.modal-backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: fixed;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100vw;

  .modal-backdrop.hidden {
    display: none;
  }
  
  .modal-backdrop:after {
    content: "";  
    background: rgba(0, 0, 0, 0.6);
  
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  .modal > .content > .button {
    margin-left: auto;
    text-align: center;
    
    .pay-button {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: $primaryColor;
      border: 0px solid $colorBlack;
      box-shadow: 2px 2px 2px 1px $colorBlackOpacity;
      margin-left: auto;
      margin-top: 16px;
      padding: 8px;
      font-size: 1.5em;
      font-weight: bold;
      text-align: center;
      color: $colorWhite;  
    }

    p {
      color: $colorWhite;
      font-weight: bold;
      font-size: 0.6em;
    }
  }
}

.modal {
  border-radius: 20px 0px;
  background: rgba(0, 0, 0, 0.8);
  margin: 32px 0;
  width: 420px;
  
  .title {
  border-radius: 20px 0px;
  background: linear-gradient(186.5deg, $primaryColor 0.83%, $primaryColor 100%);
  color: $colorWhite;
  font-weight: 700;
  font-size: 16px;
  padding: 16px 24px;
  }
  
  span {
  color: $secondaryColor;
  }

  .content {
    color: $colorWhite;
    padding: 32px;
    text-align: center;
    font-weight: bold;

    p {
      color: $colorWhite;
      font-weight: bold;  
      font-size: 0.6em;
    }

    input {
      width: 100%;
      border: 1px solid $colorBlackOpacity;
      border-radius: 6px;
      font-size: 32px;
      height: 48px;
      padding: 0 8px;
    }

    .cards > select {
      background: $colorWhite;
      border: 1px solid  $colorWhite;
      border-radius: 6px;
      font-size: 32px;
      height: 48px;
      margin-top: 12px;
    }
  }
}

.modal > .content > .message-sucess > .back-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: $primaryColor;
  border: 0px solid $colorBlack;
  box-shadow: 2px 2px 2px 1px $colorBlackOpacity;
  margin-left: auto;
  margin-top: 16px;
  padding: 8px;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  color: $colorWhite;  
}
