*{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 0.4px;
}

.hidden{
  display: none;
}
.show{
  display: block;
}

.main {
  &.black-theme{
    background: black;
    color: white;
    .container-usuarios{
      .users{
        .user{
          .pay-button{
            box-shadow: 0px 5px 10px #044b96;
          }
        }
      }
    }
  }
}

.top-bar{
  box-shadow: 0 1px 2px #22c25f, 0px -1px 0px #22c25f;
  height: 60px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: 0 auto;
  align-content: center;
  align-items: center;
  .theme-options{
    margin-right: 20px;
    .img-theme{
      width: 40px;
      height: 40px;
      border-radius: 50px;
    }
  }
}

.logo{
  width: 100px;
  margin-left: 20px;
}

/* List of Users */
.user {
  box-shadow: 0 1px 2px #22c25f, 0px -1px 0px #22c25f;
  padding: 20px 20px;
  display: flex;
  align-items: center;
}

.user-name{
  color: #007aff;
  font-weight: 500;
}

.user > img { 
  //border-radius: 28% 68% 25% 58% / 45% 45% 45% 45% ; estilo alternativo
  border-radius: 50px;
  height: 80px;
  width: 80px;
  border: double 3px transparent;
  background-image: linear-gradient(white, white), radial-gradient(circle at top left, #60f558, #6dc7ca);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.user > .info-wrapper {
  margin-left: 16px;
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
}

.user > .pay-button {
  margin-left: auto;
  border-radius: 5px;
  background-color: #007aff;
  color: #f0f0f0;
  border: 1px solid #0069db;
  box-shadow: 0px 5px 10px #89b2de;
}


//Responsividade
@media (min-width: 1900px){
  .main {
    padding: 0% 20%
  }
  .user > .pay-button {
    height: 40px;
    width: 150px;
  }
}

@media (min-width: 1200px) and (max-width: 1899px){
  .main {
    padding: 0% 20%
  }
  .user > .pay-button {
    height: 40px;
    width: 150px;
  }
}

@media (min-width: 800px) and (max-width: 1199px){
  .main {
    padding: 0% 20%
  }
  .user > .pay-button {
    height: 35px;
    width: 100px;
  }
}

@media (min-width: 400px) and (max-width: 799px){
  .main {
    padding: 0% 0%
  }
  .user > .pay-button {
    height: 35px;
    width: 75px;
  }
}