
<div class="users">
  <div class="content">
    <div *ngFor="let user of users" class="user">
      <img class="user-img" src="{{user.img}}" />
      <div class="info-wrapper">
        <div class="user-name">
          {{user.name}}
        </div>
        
        <div class="user-id-username">
          <span>ID:</span> {{user.id}} - <span>Username:</span> {{user.username}}
        </div>
      </div>
      <div class="button">
        <button mat-fab type="button" class="pay-button" (click)="selectUser(user)">
          <img src="assets/img/donate-solid.svg" />
        </button>
      <p>PAGAR</p>
    </div>
    </div>
    <span>picpay-desafio-frontend app is running!</span>  
  </div>

  <div class="modal-backdrop" *ngIf="userSelected">
    <div class="modal">
      <div class="title">Pagamento para <span>{{userSelected.name}}</span></div>

      <div class="content">
        <input type="number" placeholder="R$ 0,00" (change)="setValue($event)" />

        <div class="cards">
          <select selected="selected" (change)="setCard($event)">
            <option value="{{card.card_number}}" *ngFor="let card of cards">Cartão com final
              {{card.card_number.slice(12, 16)}}</option>
          </select>
        </div>
        <div class="button">
          <button mat-fab *ngIf="value !== undefined" type="button" class="pay-button" (click)="postPayment()">
            <img src="assets/img/donate-solid.svg" />
          </button><p *ngIf="value !== undefined">PAGAR</p>
        </div>
      </div>
    </div>

    <div class="modal" *ngIf="success !== undefined">
      <div class="title">
        Recibo de pagamento
      </div>

      <div class="content">
        <div *ngIf="success === true" class="message-sucess">
          O pagamento foi concluido com sucesso.<br />          
          <button type="button" class="back-button" (click)="goBack()"><img src="assets/img/home.svg" /></button>
        </div>
        <div *ngIf="success !== true" class="message-error">
          O pagamento <strong>não</strong> foi concluido com sucesso.
        </div>
      </div>
    </div>
  </div>
</div>