<div class="users">
  <div class="user" *ngFor="let list of images">
    <img [attr.src]="list.img" alt="Image" title="Image">
    <div class="info-wrapper">
      <div class="user-name">
        <h4>{{ list.name }}</h4>
      </div>

      <div class="user-id-username">
        <p>ID: {{ list.id }} - Username: {{ list.username }}</p>
      </div>
    </div>
    <button type="button" class="pay-button btn btn-secondary" (click)="openModal()">
      Pagar
    </button>
  </div>
</div>
<div class="modal-backdrop modal_insert_data">
  <div class="center_modal">
    <div class="modal">
      <div class="title d-flex">
        <div class="sp">Pagamento para <span>Nome do Usuário</span></div> <i class="fas fa-times fa-2x"
          (click)="closeModal()"></i>
      </div>

      <div class="content">
       <app-form></app-form>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop modal_received">
  <div class="modal">
    <div class="title">
      Recibo de pagamento
    </div>

    <div class="content">
      O pagamento foi concluido com sucesso.<br />
      O pagamento <strong>não</strong> foi concluido com sucesso.
    </div>
  </div>
</div>